@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{font-family: Poppins;}

body{
    background-color: #ccc;
    height: 1900px;
}

.cookies-msg{
    width: 80%;
    background-color: #fff;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    display: none;
}

.cookies-msg.mostrar{display: block;}

.cookies-msg .cookies-txt{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.cookies-msg .cookies-btn{margin-left: 30px;}

.cookies-msg .cookies-btn button{
    background-color: black;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 48px;
    cursor: pointer;
    transition: .2s;
}

.cookies-msg .cookies-btn button:hover{transform: scale(0.9);}